// * Resets
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.8rem;
}

input,
textarea,
select {
  outline: 0;
  border: none;
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
}
